body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color:darkblue;
}
section{
    background-color: rgb(196, 220, 255);
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
fieldset{
    width: 95%;
    height: 30%;
}
input,label,select {
    font-size: 1.1rem;
}
fieldset legend{
    font-weight: bold;  
}
div{
    display: flex;
    justify-content: center;
}
label{
    width: 200px;
}
input{
    width: 250px;
    border-radius: 5px;
}
select{
    width: 260px;
    border-radius: 5px;
}
button{
    font-size: 1.1rem;
    margin-top:10px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    background-color: antiquewhite;
}
button:hover{
    box-shadow: 5px 5px yellow;
}